*.o
src/datasim
*/Makefile
*/Makefile.am
.deps
autom4te.cache
aclocal.m4
stamp-h1
autoscan.log
config.h
config.log
config.h.in
config.h.in~
config.status
missing
depcomp
install-sh
compile
Makefile.in
config.guess
config.sub
libtool
ltmain.sh
Makefile
m4/
*.backup
