*.o
src/datasim
.deps
/autom4te.cache
/aclocal.m4
/stamp-h1
/autoscan.log
/config.h
/config.log
/config.h.in
/config.h.in~
/config.status
/missing
/depcomp
/install-sh
/compile
/configure
Makefile
Makefile.in
